{% extends 'base.html' %}

{% load static %}

{% block head_title %}About{% endblock %}

{% block content %}
  <div id='static-wrap'>
    <h1 id='static-title'>About Fetching Tech</h1>

    <p>
      What defines passion? Is it the sort of thing that consumes your conscious seconds and invades your dreams of a brighter whenever? Is it something you spend youthful years longing for, before reality changes course, caught up in games, called make believe, to earn a glimpse of yet unseen potential?
    </p>
    <p>
      I’ve heard that passion follows action, and difficult as it may be to stop and conjure mine, it is a simple task to review my actions looking back.
    </p>
    <p>
      Countless hours as a teen, I spent refreshing virtual rumor mills for the next new brick of electricity and excitement that might soon line my own pocket. Earlier yet, childhood showed me the wonders of Spy Kids and Inspector Gadget, inspiring my own homebrewed laptop creations—a mix of cardboard and paper cut-outs.
    </p>
    <p>
      Perhaps, in review, the question of passion requires no response, for our dedication of time has done well enough to provide that very answer. Yet, our interests can prove fleeting, flipping with our flopping values and and each passing ticking tock.
    </p>
    <p>
      The peak potential of new gadgetry still more than piques my interest, but the draw of value and simplicity are just as important here. My desire to see what new technology can offer me affordably, has proven that finding product information, pricing, and price history, is a labored and fragmented activity.
    </p>
    <p>
      I strive to build a resource for consumers of varying expertise, to ease the purchase process from research to review, to uncover new and useful tech and when it’s best to buy. In its current state, Fetching Tech is a simple price comparison/history website for the web’s most popular gadgets, but as passion is my guide, there is certainly more to come.
    </p>
  </div>
{% endblock %}
