{% extends 'base.html' %}

{% block head_title %}Disclosure{% endblock %}

{% block content %}
  <div id='static-wrap'>
    <h1 id='static-title'>Disclosure</h1>
    <h2>Commissions</h2>
    <p>Fetching Tech is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.</p>
    <h2>Trademarks</h2>
    <p>Amazon and the Amazon logo are trademarks of Amazon.com, Inc. or its affiliates.</p>
  </div>
{% endblock %}
